@model TaskMe.Web.ViewModels.Manager.Task.DetailsTaskViewModel
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4 text-center">
        @Model.Name
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row justify-content-center">
        <div class="row">
            <h3 class="my-3">Task Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <!--Subtasks-->
            <div class="col-md-6">
                <h3 class="my-3">Subtasks</h3>
                <div class="list-group">
                    @foreach (var subtask in Model.Subtasks)
                    {
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@subtask.ShortDescription</h5>
                            </div>
                            @if (subtask.IsTaken)
                            {
                                <p class="mb-1">Taken (By: @subtask.OwnerFirstName @subtask.OwnerLastName)<i class="fa fa-check" style="color: forestgreen"></i></p>
                            }
                            else
                            {
                                <p class="mb-1">Taken <i class="fa fa-times" style="color: red"></i></p>

                            }
                            @if (subtask.IsReady)
                            {
                                <p class="mb-1">Ready<i class="fa fa-check" style="color: forestgreen"></i></p>
                            }
                            else
                            {
                                <p class="mb-1">Ready <i class="fa fa-times" style="color: red"></i></p>

                            }
                        </a>
                    }
                </div>
            </div>
            <!--Participants-->
            <div class="col-md-4">
                <h3 class="my-3">Participants</h3>
                <ul class="list-group">
                    @foreach (var participant in Model.Participants)
                    {
                        <li class="list-group-item">@($"{participant.UserFirstName} {participant.UserLastName}")  <img class="rounded-circle border-dark" src="@participant.UserPictureUrl" width="20" height="20" /></li>

                    }
                </ul>
            </div>
            <!--Dates-->
            <div class="col-md-2">
                <h3 class="my-3">Dates</h3>
                <p class="my-3"><strong>Start Date: @Model.StrartDate.ToShortDateString()</strong></p>
                <p class="my-3"><strong>End Date: @(Model.EndDate == null ? "No End Date" : Model.EndDate.Value.ToShortDateString())</strong></p>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr />
    <div class="progress row-md-12" style="height: 35px;">
        <div class="progress-bar" role="progressbar" style="width: @($"{Model.PercentageCompletion}%");" aria-valuenow="@Model.PercentageCompletion" aria-valuemin="0" aria-valuemax="100"><strong>@Model.PercentageCompletion% completed</strong></div>
    </div>
    <hr />
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->