@using TaskMe.Web.ViewModels.Manager.Company
@model DetailsCompanyViewModel
<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Company</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Supervisors</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Messages</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h4 class="mb-3">@Model.Name</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Count of Employees</h6>
                            <p>
                                @Model.EmployeesCount
                            </p>
                            <h6>Registered</h6>
                            <p>
                                @Model.CreatedOn.ToShortDateString()
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Open Tasks</h6>
                            <p>
                                @Model.TasksCount
                            </p>
                        </div>

                        <!--Tasks-->

                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Recent Tasks</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody>
                                    @foreach (var task in Model.Tasks)
                                    {
                                        <tr>
                                            <td>
                                                <strong>@task.Name</strong> Start Date: @task.StartDate.ToShortDateString()  End Date: @task.EndDate?.ToShortDateString()<strong>From: @task.OwnerUserName</strong>
                                            </td>
                                        </tr>
                                    }                                   
                                </tbody>
                            </table>
                        </div>



                        <!--Supervisors-->
                        <div class="col-md-12 scrollable">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Employees</h5>
                            <table class="table table-sm table-hover table-striped">
                                <tbody id="employees">
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <tr>
                                            <td>
                                                <img class="rounded-circle border-dark" src="@employee.PictureUrl" width="20" height="20" /> <strong>@($"{employee.FirstName} {employee.LastName}")</strong>
                                            </td>
                                            <td>
                                                <strong>Email:  @employee.Email</strong>
                                            </td>
                                            <td>
                                                <strong>From: @employee.CreatedOn.ToShortDateString()</strong>
                                            </td>
                                        </tr>

                                    }
                                    @for (int i = 0; i < 100; i++)
                                    {
                                        <tr style="display:none">
                                            <td>
                                                <strong>Test</strong> Start Date: Test  End Date: Test<strong>From: Test</strong>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-lg-1 text-center">
            <img src="@Model.CompanyPictureUrl" class="mx-auto img-fluid img-circle d-block" alt="avatar">
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/infinitScroll.js"></script>
}
