@using Microsoft.AspNetCore.Identity
@using TaskMe.Common
@using TaskMe.Data.Models
@using TaskMe.Web.ViewModels.Home
@inject SignInManager<ApplicationUser> SignInManager
@model IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}


@if (!this.SignInManager.IsSignedIn(this.User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <a asp-area="Identity" asp-page="/Account/Login">
            <button type="button" class="btn btn-primary">Login for more...</button>
        </a>
    </div>
}
else
{
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="text-center">
            <div class="profile-header-container row text-center">
                <div class="profile-header-img">
                    <img id="picture" class="rounded-circle" src="@Model.ProfilePictureUrl" width="120" height="120" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">@Model.UserNames (ADMINISTRATOR)</span>
                    </div>
                </div>
            </div>

            <div class="text-center" id="sidebar-wrapper">
                <div class="sidebar-heading font-weight-bold">Administrator actions</div>
                <div class="list-group list-group-flush">
                    <a asp-area="Administration" asp-controller="Company" asp-action="Create" class="list-group-item list-group-item-action">Register new Company</a>
                    <a asp-area="Administration" asp-controller="Company" asp-action="All" class="list-group-item list-group-item-action">Companies</a>
                </div>
            </div>
        </div>
    }
    else if (this.User.IsInRole(GlobalConstants.ManagerRoleName))
    {
        <div class="text-center">
            <div class="profile-header-container row text-center">
                <div class="profile-header-img">
                    <img id="picture" class="rounded-circle" src="@Model.ProfilePictureUrl" width="120" height="120" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label bg-primary">@Model.UserNames (Manager)</span>
                    </div>
                </div>
            </div>

            <div class="text-center" id="sidebar-wrapper">
                <div class="sidebar-heading font-weight-bold">Administrator actions</div>
                <div class="list-group list-group-flush">
                    <a asp-area="Manager" asp-controller="Company" asp-action="Details" class="list-group-item list-group-item-action">My Company</a>
                    <a asp-area="Manager" asp-controller="Task" asp-action="All" class="list-group-item list-group-item-action">Tasks</a>
                    <a asp-area="Manager" asp-controller="Task" asp-action="All" class="list-group-item list-group-item-action">Live Chat</a>
                    <a asp-area="Manager" asp-controller="User" asp-action="Register" class="list-group-item list-group-item-action">Register new employee</a>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <div class="profile-header-container row text-center">
                <div class="profile-header-img">
                    <img id="picture" class="rounded-circle" src="@Model.ProfilePictureUrl" width="120" height="120" />
                    <!-- badge -->
                    <div class="rank-label-container">
                        <span class="label label-default rank-label">@Model.UserNames</span>
                    </div>
                </div>
            </div>

            <div class="text-center" id="sidebar-wrapper">
                <div class="sidebar-heading">Navigation</div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">Promotions</a>
                    <a href="#" class="list-group-item list-group-item-action">Chat</a>
                    <a href="#" class="list-group-item list-group-item-action">Tasks</a>
                    <a href="#" class="list-group-item list-group-item-action">Events</a>
                </div>
            </div>
        </div>
    }
}

